.banner{
  background-color:#00A9E0;
  height:120px;
}
.logo{
  height:120px;
  width:120px;
  margin-left:30px;
}
.cart{
  margin-top:10px;
  background-color:#F4F4F4;
}
.cart-title{
  font-size:18px;
  color:#00A9E0;
  padding-top:25px;
  text-align:center;
}
.cart-contents{
  padding-top:12px;
}
.cart-info{
  float:left;
  width:30%;
}
.cart-quantity{
  margin: auto;
  width:30%;
  text-align:center;
}
.cart-price{
  float:right;
  width:30%;
  color:green;
  text-align:right;
}

.store-title{
  font-size:22px;
  padding:20px;
  color:#00A9E0;
}
.add-btn{
  background-color:#78BE20;
  border-radius:50%;
  border:none;
  color:#fff;
}
.sale-text{
  color:red;
  font-size:12px;
  padding-left:25px;
}
.sale-item{
  padding:8px;
}
.price{
  float:right;
  color:#78BE20;
}
.total{
  margin:auto;
  background-color:#F4F4F4;
  color:#78BE20;
  width:120px;
  height:120px;
  border:8px solid #78BE20;
  border-radius:50%;
  margin-top:80px;
  margin-bottom:10px;
}
.center-total{
  line-height:104px;
  text-align:center;
  font-size:24px;
}
.reset-cart{
  width:200px;
  height:40px;
  background-color:#E45DBF;
  color:white;
  border-radius:25px;
  text-align:center;
  line-height:40px;
  float:right;
}
.empty{
  text-align:center;
}
